/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

code {
    color: #E01A76;
}

.main-body {
    margin: 0;
    top: 0;
    height: 100%;
    position: absolute;
    background-image: url(Immages/landing-page.svg);
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
    z-index: -1;
}
.side-nav-container {
    position:relative;
    height: auto;
    width: auto;
    justify-content:center;
    margin-top: 50px;
}
.side-nav-container .side-nav-menu {
    height: auto;
    width: 70px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    border: 0.5px solid grey;
    padding: 10px;
    align-items: center;
    border-radius: 0 15px 15px 0;
}
    .side-nav-container .menu-btn {
        height: 50px;
        width: 50px;
    }
    .side-nav-container #hamburgerMenuSidenNav {
        height: 50px;
        width: 50px;
        padding: 13px;
        border-radius: 100px;
        background-color: #002720;
        margin: 14px;
        color:white;
        cursor: pointer;
    }

        .side-nav-container #hamburgerMenuSidenNav:hover {
            background-color: #B6174B;
        }

    .side-nav-container #hamburgerMenuSidenNav.active {        
        height: 50px;
        width: 50px;
        padding: 13px;
        color: white;
        border-radius: 100px;
        display: none;
    }

.open-side-menu {
    width: 200px !important;
    align-items: flex-end !important;
}


    .side-nav-container .side-nav-menu .icon {
        height: 50px;
        width: 50px;
        padding: 9px;
        color: #002720;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
    }

    .side-nav-container .side-nav-menu a {
        color: #002720;
        padding: 5px;
        position:absolute;
    }

.side-nav-container .side-nav-close-btn {
    color: #002720;
    position: absolute;
    display: none;
    border: none;
    z-index:1;
    margin:10px;
    background-color: white;
}

  

.side-nav-div-items {
    /*width: 170px !important;*/
    display: flex !important;
    /*flex-direction: column;*/
    align-content: flex-end;
    /*align-content: space-between;*/
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.side-nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.side-nav-text {
    padding-right: 15px;
    width: 120px !important;
    display: none;
}
    .side-nav-text p {
        margin: 5px;
        display: none;
    }
.no-width {
    height: 50px;
    width: 50px;
}


/*footer*/

.footer-bar {
position: fixed;
bottom: 0;
width: 100%;
height: 100px;
background-color:white;
border-top: 0.5px solid grey;
}
.footer-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer-social {
    display: flex;
    width: 120px;
    height: 30px;
}

    .footer-social a {
        color: #002720;
        text-decoration:none;
    }

.facebook {
    background-image: url(Immages/facebook.svg);
    background-repeat: no-repeat;
    margin: 5px;
    width: 40px;
    height: 40px;
}

.instagram {
    background-image: url(Immages/square-instagram.svg);
    background-repeat: no-repeat;
    margin: 5px;
    width: 40px;
    height: 40px;
}

.pinterest {
    background-image: url(Immages/pinterest.svg);
    background-repeat: no-repeat;
    margin: 5px;
    width: 40px;
    height: 40px;
}

.twitter {
    background-image: url(Immages/twitter.svg);
    background-repeat: no-repeat;
    margin: 5px;
    width: 40px;
    height: 40px;
}

.footer-info-part a {
    color: #002720;
}
.footer-text-part {
    display: flex;
    flex-direction: row;
    align-items: center;
}
    .footer-text-part p {
        margin-bottom: 9px;
    }

.footer-logo {
    background-image: url(Immages/books_logo_dark.svg);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}
