/* Provide sufficient contrast against white background */
* {
    font-family: 'Microsoft JhengHei UI';
}

h3 {
    color: #002720;
}

h4 {
    color: #b4b4b4;
    font-size: 1rem;
}

a {
    color: #0366d6;
}

p {
    margin-bottom: 2px;
}

code {
    color: #E01A76;
}

.main-body {
    margin: 0;
    top: 0;
    height: 100%;
    position: absolute;
    background-image: url(Immages/landing-page.svg);
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 1160px;
    z-index: -1;
}

.side-nav-container {
    position: absolute;
    height: auto;
    width: auto;
    justify-content: center;
    margin-top: 100px;
    z-index: 333;
}

    .side-nav-container .side-nav-menu {
        height: auto;
        width: 70px;
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: white;
        border: 0.5px solid grey;
        padding: 10px;
        align-items: center;
        border-radius: 0 15px 15px 0;
    }

    .side-nav-container .menu-btn {
        height: 50px;
        width: 50px;
    }

    .side-nav-container #hamburgerMenuSidenNav {
        height: 50px;
        width: 50px;
        padding: 13px;
        border-radius: 100px;
        background-color: #002720;
        margin: 14px;
        color: white;
        cursor: pointer;
    }

        .side-nav-container #hamburgerMenuSidenNav:hover {
            background-color: #B6174B;
        }

        .side-nav-container #hamburgerMenuSidenNav.active {
            height: 50px;
            width: 50px;
            padding: 13px;
            color: white;
            border-radius: 100px;
            display: none;
        }

.open-side-menu {
    width: 200px !important;
    align-items: flex-end !important;
}


.side-nav-container .side-nav-menu .icon {
    height: 50px;
    width: 155px;
    padding: 9px;
    color: #002720;
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    align-content: space-around;
}

.side-nav-container .side-nav-menu a {
    color: #002720;
    padding: 5px;
    position: absolute;
}

.side-nav-container .side-nav-close-btn {
    color: #002720;
    position: absolute;
    display: none;
    border: none;
    z-index: 1;
    margin: 10px;
    width: 20px;
    background-color: white;
}



.side-nav-div-items {
    /*width: 170px !important;*/
    display: flex !important;
    /*flex-direction: column;*/
    align-content: flex-end;
    /*align-content: space-between;*/
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.side-nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.side-nav-text {
    padding-right: 15px;
    width: 120px !important;
    display: none;
}

    .side-nav-text p {
        margin: 5px;
        display: none;
    }

.no-width {
    height: 50px;
    width: 50px;
}


/*footer*/

.footer-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: white;
    border-top: 0.5px solid grey;
    z-index: 333;
}

.footer-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer-social {
    display: flex;
    width: 120px;
    height: 30px;
}

    .footer-social a {
        color: #002720;
        text-decoration: none;
    }

.facebook {
    background-image: url(Immages/facebook.svg);
    background-repeat: no-repeat;
    margin: 5px;
    width: 40px;
    height: 40px;
}

.instagram {
    background-image: url(Immages/square-instagram.svg);
    background-repeat: no-repeat;
    margin: 5px;
    width: 40px;
    height: 40px;
}

.pinterest {
    background-image: url(Immages/pinterest.svg);
    background-repeat: no-repeat;
    margin: 5px;
    width: 40px;
    height: 40px;
}

.twitter {
    background-image: url(Immages/twitter.svg);
    background-repeat: no-repeat;
    margin: 5px;
    width: 40px;
    height: 40px;
}

.footer-info-part a {
    color: #002720;
}

.footer-text-part {
    display: flex;
    flex-direction: row;
    align-items: center;
}

    .footer-text-part p {
        margin-bottom: 9px;
    }

.footer-logo {
    background-image: url(Immages/books_logo_dark.svg);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.container_pages {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 120px;
}

    .container_pages .container_content {
        width: 100%;
        height: 100%;
        margin: 50px 0 0 150px;
    }

        .container_pages .container_content .books_row {
            max-width: 80%;
        }

        .container_pages .container_content ul {
            list-style-type: none;
        }

            .container_pages .container_content ul li p {
                font-size: 13px;
            }

.login_background_img {
    position: absolute;
    background-image: url(./Immages/login_page02.png);
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 1160px;
    z-index: -1;
}

.container_pages_login {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 120px;
    justify-content: center;
}

    .container_pages_login .container_content_login {
        width: 370px;
        height: 100%;
        margin: 50px 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 20px;
        border: 1px solid gray;
        border-radius: 5px;
        background-color: white;
    }

        .container_pages_login .container_content_login .login_checkbox {
            width: 14px;
            margin-bottom: 7px;
        }

            .container_pages_login .container_content_login .login_checkbox .label {
                margin-bottom: 0.7rem;
            }

        .container_pages_login .container_content_login h3 {
            margin-bottom: 30px;
            -webkit-text-stroke-width: thin;
        }

.user_foto {
    background-image: url(../src/Immages/tere_foto.png);
    background-repeat: no-repeat;
    width: 130px;
    height: 140px;
    margin-bottom: 10px;
}

.pink {
    fill: #d80067;
}

.green a {
    color: #002720;
}

.loading {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.breadcrumbs {
    list-style: none;
    display: flex;
    flex-direction: row;
    position: absolute;
}

.break {
    margin-right: 5px;
    margin-left: 5px;
}

.breadcrumbs li a {
    text-decoration: none;
    font-size: 12px;
}

    .breadcrumbs li a:hover {
        color: #d80067;
    }

.breadcrumbs_list ul {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.active_link {
    font-weight: bold;
    color: #d80067;
}

.non_active_link {
    color: #002720;
}

.book_content {
    margin-bottom: 25px;
}

    .book_content .book_rating {
        margin-top: 10px;
    }

    .book_content .book_stars_component {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .book_content .book_stars {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

        .book_content .book_stars .book_stars_icons {
            display: flex;
            width: 47px;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;
            cursor: pointer;
        }

        .book_content .book_stars p {
            font-size: 13.5px;
        }

    .book_content .book_info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }
    .book_content .book_info .book_details {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 20px;
    }
        .book_content .book_info .book_details p {
            padding-right: 15px;
            padding-top: 7px;
        }

.container_pages_books {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 120px;
}

.container_pages_books .container_content_books {
    width: 100%;
    height: 100%;
    margin: 50px 0;
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.container_pages_books .container_content_books .books_row {
    max-width: 50%;
    position: absolute;
    padding-bottom: 150px;
}

    .container_pages_books .container_content_books .books_row .serach_input {
        display: flex;
        width: 100%;
        height: 45px;
        padding: 0.5rem;
        font-size: 1.1em;
        font-weight: 500;
        margin-bottom: 12px;
        margin-right: 10px;
        border-bottom: 1px solid #06484a;
        border-top: none;
        border-right: none;
        border-left: none;
    }
        .container_pages_books .container_content_books .books_row .serach_input:focus-visible {
            outline: none;
        }